@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin:0; 

}

.bg {
    background: url('./Travel.jpg') no-repeat center center/cover;
    position:absolute;
    top: 0px;
    left: -0px;
    width: 100vw;
    height: 100vh;
    z-index:-1;
    filter: blur(20px)
}

.loading-text {
    font-size: 50px;
    color: #fff;
}
